# Byte-compiled / optimized / DLL files
*/__pycache__/*
*/resources/*
*.py[cod]
*$py.class
.DS_store

# Environments
.venv
.env

# Data
fraud_detection_system/data/*
object_detection_system/storages/*
visual_search_system/storage/*
visual_search_system/simclr_resources/probe/*
retrieval_augmented_generation/storage/embeddings/*

# Keep data placehodler text file
!fraud_detection_system/data/put_data_here.txt